.scry {
    background: black;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: -3px 3px 5px #888888;
    color: black;
    display: none;
    height: 408px;
    line-height: normal;
    position: absolute;
    width: 288px;
    z-index: 100;
}

.scry-image {
    height: 408px;
    position: relative;
    top: -10px;
    width: 288px;
}

.scry-split .scry-image {
    -webkit-transform: rotate(90deg);
    left: 60px;
    top: -70px;
}

.scry-alpha {
    border-radius: 15px;
}

.scry-split {
    height: 288px;
    width: 408px;
}

.scry-flip {
    display: none;
    left: 16px;
    height: 148px;
    margin: auto;
    position: absolute;
    top: 123px;
    width: 254px;
}

.scry-flipped .scry-flip {
    top: 137px;
}

.scry-transform {
    border-radius: 30px;
    display: none;
    height: 25px;
    left: 11px;
    position: absolute;
    top: 13px;
    width: 25px;
}

.scry-control:hover {
    box-shadow: 0 0 10px 5px #FFD700;
    cursor: pointer;
}

.scry-info-toggle {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 10px;
    left: -5px;
    margin: auto;
    position: relative;
    top: -5px;
    width: 298px;
}

.scry-split .scry-info-toggle {
    width: 418px;
}

.scry-info-toggle:hover {
    box-shadow: 0 -3px 10px 2px #FFD700;
    cursor: pointer;
}

.scry-info {
    height: 398px;
    display: none;
    left: 5px;
    margin: auto;
    position: absolute;
    top: 5px;
    width: 278px;
    z-index: 101;
}

.scry-split .scry-info {
    height: 278px;
    width: 398px;
}

.scry-info * {
    font-family: sans-serif;
    font-size: 12px;
}

.scry-tabs {
    height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.scry-tabs>li {
    background: darkgrey;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 5px 0px;
    width: 25%;
}

.scry-tabs .scry-active {
    background: lightgrey;
}

.scry-panels>div {
    background: lightgrey;
    display: none;
    height: 368px;
    padding: 5px;
    width: 268px;
}

.scry-panels ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.scry-split .scry-panels>div {
    height: 248px;
    width: 388px;
}

.scry-price:before {
    content: '$';
}

.scry-prices-range {
    text-align: center;
}

.scry-prices-range>li {
    display: inline-block;
    margin: 0;
    width: 25%;
}

.scry-prices-low {
    background-color: #FFE6E6;
}

.scry-prices-mid {
    background-color: #E6F4FF;
}

.scry-prices-high {
    background-color: #D9FCD1;
}

.scry-prices-link, .scry-vendor-name {
    cursor: pointer;
    color: #22229C;
}

.scry-vendors {
    margin-top: 5px;
}

.scry-vendor:nth-child(odd) {
    background: darkgrey;
}

.scry-vendor>li {
    display: inline-block;
    margin: 0;
    text-align: right;
    width: 20%;
}

.scry-vendor .scry-vendor-quantity {
    width: 10%;
}

.scry-vendor .scry-vendor-name {
    text-align: left;
    width: 50%;
}

.scry-vendor .scry-vendor-condition:after {
    content: ' @';
}

.scry-panels .scry-printings {
    opacity: 0.8;
}

.scry-rulings {
    overflow: auto;
}

.scry-ruling-date {
    font-weight: bold;
}

.scry-ruling-date:after {
    content: ': ';
}

.scry-printings {
    overflow: auto;
}

.scry-printing {
    cursor: pointer;
}

.scry-printing:nth-child(odd) {
    background: darkgrey;
}

.scry-printing-setname {
    font-weight: bold;
}

.scry-printing-number:before {
    content: ' #';
}

.scry-printing-rarity:before {
    content: ' (';
}

.scry-printing-rarity:after {
    content: ')';
}

.scry-panels .scry-oracle {
    display: block;
    overflow: auto;
}

.scry-oracle-name {
    float: left;
    font-size: 14px;
    font-weight: bold;
}

.scry-oracle-manaCost {
    float: right;
}

.scry-oracle-type {
    clear: both;
}

.scry-oracle-flavor {
    font-style: italic;
    margin-top: 5px;
}

.scry-oracle-power,
.scry-oracle-toughness,
.scry-oracle-loyalty {
    display: inline-block;
    float: right;
}

.scry-oracle-power:after {
    content: '/';
}

.scry-oracle-artist:before {
    content: 'Illus. ';
}

.scry-split .scry-oracle.scry-left,
.scry-split .scry-oracle.scry-right {
    width: 188px;
}

.scry-split .scry-left {
    border-right: 1px solid darkgrey;
    float: left;
}

.scry-split .scry-right {
    border-left: 1px solid darkgrey;
    float: right;
}
