.scry {
    background: black;
    background-position: center;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: -3px 3px 5px #888888;
    display: none;
    height: 300px;
    position: absolute;
    width: 213px;
    z-index: 100;
}

.scry-split {
    height: 213px;
    width: 300px;
}

.scry-flip {
    display: none;
    height: 100px;
    margin: auto;
    position: relative;
    top: 95px;
    width: 185px;
}

.scry-flip:hover {
    box-shadow: 0 0 10px 5px #FFD700;
    cursor: pointer;
}
